<div layout="column" layout-align="center center">

                <img class="md-card-image" src="https://s-media-cache-ak0.pinimg.com/originals/0a/cd/50/0acd5002683fbcf2b720004f201ee530.jpg"
                class="img-responsive center-block" alt="">
            
                        <md-input-container>
                                <label>Email</label>
                                <input ng-model="user.email" type="email">
                        </md-input-container>

                        <md-input-container>
                                <label>Password</label>
                                <input ng-model="user.password" type="password">
                        </md-input-container>
        <div align="center">
                <md-button class="md-raised md-primary" ng-click="login(user)">Login</md-button>
        </div>
</div>