<md-dialog md-theme="{{$root.specifictheme}}" md-theme-watch="true" aria-label="Set Configuration" ng-controller="viewConfigController">
    <form ng-cloak ng-submit="saveConfig()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Configuration Information</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="material-icons">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Configurations</h2>
                <md-content class="md-no-momentum">
                    <md-input-container class="md-icon-float md-block">
                        <md-icon><i class="material-icons">grade</i></md-icon>
                        <label>Appraisal Percentage (0-100)</label>
                        <input ng-model="config.appraisalPercentage" type="number" min=0 max=100 required>
                    </md-input-container>

                     <md-input-container class="md-icon-float md-block">
                        <md-icon><i class="material-icons">trending_up</i></md-icon>
                        <label>Interest Percentage (0-100)</label>
                        <input ng-model="config.defaultInterestPercentage" type="number" min=0 max=100 required>
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block">
                        <label>Maturity Date (Days)</label>
                        <md-icon class="name"><i class="material-icons">date_range</i></md-icon>
                        <input ng-model="config.maturityDate" type="number" required>
                    </md-input-container>

                    <md-input-container md-no-float class="md-icon-float md-block"> 
                        <label>Expiry Date (Days)</label>
                        <md-icon class="name"><i class="material-icons">description</i></md-icon>
                        <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
                        <input ng-model="config.expiryDate" type="number">
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block">
                        <label>Service Fee (PHP)</label>
                        <md-icon class="name"><i class="material-icons">toll</i></md-icon>
                        <input ng-model="config.serviceFee" type="number">
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block">
                        <label> Theme Primary </label>
                        <md-icon class="name"><i class="material-icons">toll</i></md-icon>
                        <md-select ng-model="config.primary" style="height: 40px;">
                            <md-option><em>None</em></md-option>
                            <md-option ng-repeat="value in default.colors" ng-value="value">
                            {{value}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                     <md-input-container class="md-icon-float md-block">
                        <label>Image URL </label>
                        <md-icon class="name"><i class="material-icons">image</i></md-icon>
                        <input ng-model="config.imgURL" type="text">
                    </md-input-container>

                </md-content>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-warn" target="_blank" ng-click="cancel()">
                Close
            </md-button>
            <span flex></span>
            <md-button type="submit">
                Save Config
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>