<md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Menu</h1>
</md-toolbar>
<md-button class="md-icon-button" aria-label="Toggle Sideber" ng-click="toggleSidebar()">
    <i class="material-icons">menu</i>
</md-button>

<md-list flex>
    <md-subheader class="md-no-sticky">View Records</md-subheader>
    <md-list-item class="md-2-line" ng-click="null" ui-sref='pawnees'>
        <md-button class="md-icon-button" style="margin:auto;">
            <i class="material-icons">person_pin</i>
        </md-button>
        <div class="md-list-item-text" layout="column">
            <h3>Pawnee</h3>
            <h4>View Pawnees</h4>
        </div>
    </md-list-item>
    <md-list-item class="md-2-line"  ng-click="null" ui-sref='items'>
        <md-button class="md-icon-button" style="margin:auto;">
            <i class="material-icons">item</i>
        </md-button>
        <div class="md-list-item-text" layout="column">
            <h3>Items</h3>
            <h4>View Items</h4>
        </div>
    </md-list-item>
    <md-list-item class="md-2-line"  ng-click="null"> 
        <md-button class="md-icon-button" style="margin:auto;">
            <i class="material-icons">receipt</i>
        </md-button>
        <div class="md-list-item-text" layout="column">
            <h3>Records</h3>
            <h4>View Records</h4>
        </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Add Records</md-subheader>
    <md-list-item class="md-2-line"  ng-click="showAdvanced('addPawnee')">
        <md-button class="md-icon-button" style="margin:auto;">
            <i class="material-icons">person_add</i>
        </md-button>
        <div class="md-list-item-text" layout="column">
            <h3>Pawnee</h3>
            <h4>Add Pawnees</h4>
        </div>
    </md-list-item>
    <md-list-item class="md-2-line"  ng-click="showAdvanced('addItems')">
        <md-button class="md-icon-button" style="margin:auto;">
            <i class="material-icons">library_items</i>
        </md-button>
        <div class="md-list-item-text" layout="column">
            <h3>Items</h3>
            <h4>Add Items</h4>
        </div>
    </md-list-item>
    <md-list-item class="md-2-line"  ng-click="null">
       <md-button class="md-icon-button" style="margin:auto;">
            <i class="material-icons">add_to_queue</i>
        </md-button>
        <div class="md-list-item-text" layout="column">
            <h3>Records</h3>
            <h4>Add Records</h4>
        </div>
    </md-list-item>
</md-list>