<section layout="row">
    <md-sidenav ng-include="'/modules/sidenav-topnav/sidenav.html'" class="md-sidenav-left" md-component-id="left" md-whiteframe="4"
        ng-controller="topBarController">
        </md-sidenav>

        <div flex="100">
            <md-tabs md-dynamic-height>
                <md-tab label="Pawned Items">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Pawned Items</h1>
                        <md-input-container class="md-block" flex="40">
                            <label>Search...</label>
                            <input ng-model="search.pawnedItems" ng-change="search(search.pawnedItems, 'pawnedItems')">
                        </md-input-container>
                        <div layout="row" layout-wrap>
                            <div ng-show="checkIfEmpty(items) && loading==false ">
                                No pawned items.
                            </div>
                            <div class="spinner" ng-show="loading==true">
                                <div class="double-bounce1"></div>
                                <div class="double-bounce2"></div>
                            </div>
                            <div flex-xs="100" flex-sm="50" flex-md="50" flex-lg="33" flex-xl="25" ng-repeat="(key,item) in items">
                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <md-truncate class="md-headline">
                                                {{item.year}} {{item.brand}} {{item.model}}
                                            </md-truncate>
                                            <span class="md-subhead">{{item.category}}, Owned by: {{item.owner.firstName}} {{item.owner.lastName}}</span>
                                            <span class="md-subhead">Expired by: {{item.expiryDate | date: 'shortDate'}}</span>
                                        </md-card-title-text>
                                        <md-card-title-media>
                                            <div class="md-media-sm card-media">
                                                Valued as {{item.valuation}} Pawned as {{item.pawnValue}}
                                            </div>
                                        </md-card-title-media>
                                    </md-card-title>
                                    <md-card-actions layout="row" layout-align="end center">
                                        <md-button class="md-primary md-raised md-hue-2" ng-click="print('itemDetails',item, key)">Print</md-button>
                                        <md-button class="md-primary md-raised md-hue-1" ng-click="viewItemDetails(item)">View Details</md-button>
                                        <md-button class="md-warn md-raised md-hue-1" ng-click="extendDate($event,item,key)">Extend Date</md-button>
                                        <md-button class="md-raised md-hue-1" ng-click="returnItem($event,item,key)">Return Items</md-button>
                                    </md-card-actions>
                                </md-card>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Returned Items">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Returned Items</h1>
                        <md-input-container class="md-block" flex="40">
                            <label>Search...</label>
                            <input ng-model="search.returneditems" ng-change="search(search.returneditems, 'returnedItems')">
                        </md-input-container>
                        <div layout="row" layout-wrap>
                            <div ng-if="checkIfEmpty(returneditems)">
                                No returned items.
                            </div>
                            <div class="spinner" ng-show="loading==true">
                                <div class="double-bounce1"></div>
                                <div class="double-bounce2"></div>
                            </div>
                            <div flex-xs="100" flex-sm="50" flex-md="50" flex-lg="33" flex-xl="25" ng-repeat="(key,item) in returneditems">
                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <md-truncate class="md-headline">
                                                {{item.year}} {{item.brand}} {{item.model}}
                                            </md-truncate>
                                            <span class="md-subhead">{{item.category}}, Returned to: {{item.owner.firstName}} {{item.owner.lastName}}</span>
                                        </md-card-title-text>
                                        <md-card-title-media>
                                            <div class="md-media-sm card-media">
                                                Pawned as {{item.pawnValue}} Bought as {{item.buyBackValue}}
                                            </div>
                                        </md-card-title-media>
                                    </md-card-title>
                                    <md-card-actions layout="row" layout-align="end center">
                                        <md-button class="md-primary md-raised md-hue-1" ng-click="viewItemDetails(item)">View Details</md-button>
                                    </md-card-actions>
                                </md-card>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Sellable Items">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Sellable Items</h1>
                        <md-input-container class="md-block" flex="40">
                            <label>Search...</label>
                            <input ng-model="search.sellableItems" ng-change="search(search.sellableItems, 'sellableItems')">
                        </md-input-container>
                        <div ng-if="checkIfEmpty(sellableItems)">
                            No sellable items.
                        </div>
                        <div class="spinner" ng-show="loading==true">
                            <div class="double-bounce1"></div>
                            <div class="double-bounce2"></div>
                        </div>
                        <div layout="row" layout-wrap>
                            <div flex-xs="100" flex-sm="50" flex-md="50" flex-lg="33" flex-xl="25" ng-repeat="(key,item) in sellableItems">
                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <md-truncate class="md-headline">
                                                {{item.year}} {{item.brand}} {{item.model}}
                                            </md-truncate>
                                            <span class="md-subhead">{{item.category}}, Originally pawned to: {{item.owner.firstName}} {{item.owner.lastName}}</span>
                                        </md-card-title-text>
                                        <md-card-title-media>
                                            <div class="md-media-sm card-media">
                                                Sell as {{item.valuation}} Pawned as {{item.pawnValue}}
                                            </div>
                                        </md-card-title-media>
                                    </md-card-title>
                                    <md-card-actions layout="row" layout-align="end center">
                                        <md-button class="md-primary md-raised md-hue-1" ng-click="viewItemDetails(item,key)">View Details</md-button>
                                        <md-button class="md-warn md-raised md-hue-1" ng-click="sellItem($event,item,key)">Sell Item</md-button>
                                    </md-card-actions>
                                </md-card>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Sold Items">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Sold Items</h1>
                        <md-input-container class="md-block" flex="40">
                            <label>Search...</label>
                            <input ng-model="search.soldItems" ng-change="search(search.soldItems, 'soldItems')">
                        </md-input-container>
                        <div ng-if="checkIfEmpty(soldItems)">
                            No sold items.
                        </div>
                        <div class="spinner" ng-show="loading==true">
                            <div class="double-bounce1"></div>
                            <div class="double-bounce2"></div>
                        </div>
                        <div layout="row" layout-wrap>
                            <div flex-xs="100" flex-sm="50" flex-md="50" flex-lg="33" flex-xl="25" ng-repeat="(key,item) in soldItems">
                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <md-truncate class="md-headline">
                                                {{item.year}} {{item.brand}} {{item.model}}
                                            </md-truncate>
                                            <span class="md-subhead">Gained vs Valuation: {{((item.soldAs-item.valuation)/item.valuation*100) | number: 2}} %</span>
                                            <span class="md-subhead">Gained vs Pawn Value: {{((item.soldAs-item.pawnValue)/item.pawnValue)*100 | number: 2}} % </span>
                                        </md-card-title-text>
                                        <md-card-title-media>
                                            <div class="md-media-sm card-media">
                                                Valued as {{item.valuation}} <br> Sold as {{item.soldAs}}
                                            </div>
                                        </md-card-title-media>
                                    </md-card-title>
                                    <md-card-actions layout="row" layout-align="end center">
                                        <md-button class="md-primary md-raised md-hue-1" ng-click="viewItemDetails(item)">View Original Details</md-button>
                                    </md-card-actions>
                                </md-card>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>

</section>

<div id="itemDetails">
    <table>
        <tr>
            <td align="center" colspan=2>
                <h1>Pawnshoppe La Marino</h1>
                <h3>Pawn Slip</h3>
            </td>
        </tr>
        <tr>
            <td>
                Tracking ID:
            </td>
            <td>
                {{selectedKey}}
            </td>
        </tr>
        <tr>
            <td>
                Item:
            </td>
            <td>{{selectedItem.year}} {{selectedItem.brand}} {{selectedItem.model}}</td>
        </tr>
        <tr>
            <td>
                Item Category:
            </td>
            <td>{{selectedItem.category}}</td>
        </tr>
         <tr>
            <td>
                Valuation/Pawn Value:
            </td>
            <td>PHP {{selectedItem.valuation}} / PHP {{selectedItem.pawnValue}}</td>
        </tr>
        <tr>
            <td>
                Pawn Date:
            </td>
            <td>{{selectedItem.dateCreated | date: 'medium'}}</td>
        </tr>
         <tr>
            <td>
                Expiry Date:
            </td>
            <td>{{selectedItem.expiryDate | date: 'medium'}}</td>
        </tr>
        <tr>
            <td>
                Contact's Name:
            </td>
            <td>
                {{selectedItem.owner.firstName}} {{selectedItem.owner.lastName}}
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Signature:</td>
            <td>_______________________</td>
        </tr>
    </table>
    
</div>